@import "reset.css";

.modal {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 50px;
  width: 551px;
  height: 578px;
  border: 1px solid #CBEAF2;
  border-radius: 5px;
}

h2 {
  margin-left: 10px;
  color: #346c90;
  font-size: 18px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  background: #DCEDF6;
  border: 1px solid #CBEAF2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

form {
  width: 100%;
}

form div {
  margin-top: 0.625rem;
  margin-bottom: 25px;
}

label {
  text-align: right;
  width: 33.333%;
  display: inline-block;
  margin-right: 30px;
  vertical-align: center;
}

input {
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
}

input[type=text] {
  height: 35px;
}

textarea {
  font-size: 16px;
  resize: none;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

button {
  display: inline-block;
  height: 35px;
  width: 135px;
  margin: 10px;
  border-radius: 5px;
}

button[type=submit] {
  background-color: #5db75c;
  color: white;
  font-style: bold;
}

select {
  height: 35px;
}